/* Fonts */
@font-face {
    font-family: JetBrains Mono;
    src: url(media/fonts/JetBrainsMono-Regular.woff2);
}
@font-face {
    font-family: JetBrains Mono Bold;
    src: url(media/fonts/JetBrainsMono-Bold.woff2);
}
@font-face {
    font-family: JetBrains Mono Italic;
    src: url(media/fonts/JetBrainsMono-Italic.woff2);
}
@font-face {
    font-family: JetBrains Mono Bold Italic;
    src: url(media/fonts/JetBrainsMono-BoldItalic.woff2);
}

/* Text styles */
body {
    font-family: "JetBrains Mono", Courier, monospace;
    font-size: 16px;
    background-color: rgb(40, 40, 50);
    /*background-image: url("bg.jpg");*/
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0 0 8px 0;
    padding: 0;
    font-family: "Michroma", sans-serif;
    font-size: 48px;
}
h2 {
    margin: 4px 0;
    padding: 0;
    font-family: "Michroma", sans-serif;
    font-size: 32px;
}
h3 {
    font-family: "JetBrains Mono Italic", Courier, monospace;
    margin: 16px 0;
    padding: 0;
    font-size: 24px;
}
h4 {
    font-family: "JetBrains Mono Italic", Courier, monospace;
    margin: 16px 0;
    padding: 0;
    font-size: 16px;
}
h5 {
    font-family: "JetBrains Mono Italic", Courier, monospace;
    margin: 16px 0;
    padding: 0;
    font-size: 12px;
}
p {
    margin: 16px 0;
    padding: 0;
}
a {
    color: white;
    text-decoration: underline;
}
.justify_right {
    text-align: right;
}

/* Content formatting */
.content_outer {
    margin: 40px auto;
    padding: 4px;
    max-width: 1000px;
    background-color: rgb(20, 20, 30);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.content_inner {
    margin: 8px 16px;
    padding: 0;
}

/* Inline side-by-side */
.sbs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    width: 100%;
    margin: 0;
    padding: 4px 0px;
    overflow: hidden;
}
.sbsl {
    width: 95%;
    margin: 0px 0px 6px 0px;
    padding: 0px 8px;
    word-wrap: break-word;
    overflow: hidden;
}
.sbsr {
    width: 95%;
    margin: 0px 0px 6px 0px;
    padding: 0px 8px;
    word-wrap: break-word;
    overflow: hidden;
}

/* Top-of-page */
.navbar {
    padding: 8px;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
.banner {
    background-image: url("media/images/banner.jpg");
    background-size: cover;
    padding: 100px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

/* Buttons */
.inline_button {
    margin: 0px 0px 0px 0px;
    padding: 4px 8px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0);
    transition: 0.3s;
}
.inline_button:hover {
    padding: 4px 16px;
    border: 1px solid white;
}
.inline_spacer {
    display: inline-block;
    width: 20px;
    height: auto;
}

/* Dividers and spacers */
.divider {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 24px;
    margin-bottom: 20px;
}
.spacer {
    width: 100%;
    height: 1px;
    margin-top: 24px;
    margin-bottom: 20px;
}

/* In-line formatting */
.horizontal_container {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}
.horizontal_item {
    display: inline-block;
}
.centered_container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 4px;
}

/* Icons */
.media_icon {
    padding: 0;
    margin: 4px 0;
    display: inline-block;
    height: 32px;
    width: auto;
}

/* Acrylic */
.acrylic_dark {
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background: rgba(0,0,0,0.5);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
    background-repeat: repeat;
    
}

/* Shadows */
.raised {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
