/* ----- Fonts ----- */

@font-face {
    font-family: "Source Sans 3";
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url("fonts/SourceSans3VF-Upright.otf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans 3";
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url("fonts/SourceSans3VF-Italic.otf.woff2") format("woff2");
}



/* ----- Body ----- */

body {
    background: linear-gradient(
        rgb(35,35,45) 0%,
        rgb(24, 24, 33) 70%,
        rgb(9, 9, 16) 100%
    );
    background-attachment: fixed;
    background-size: cover;
    font-family: "Source Sans 3", Tahoma, sans-serif;
    color: rgb(235, 245, 250);
    line-height: 1.2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    body {
        flex-flow: column wrap;
    }
}



/* ----- Nav ----- */

body>aside {
    box-sizing: border-box;
    margin-top: 2rem;
    padding: 0 1rem;
    width: 10em;
}



nav>a {
    font-weight: bold;
    font-size: larger;
    width: 100%;
    padding: 1rem 1rem;
    box-sizing: border-box;
    margin: 0.25rem 0;
    display: block;
    text-decoration: none;
    transition-duration: 200ms;
}

nav>a.active {
    background: linear-gradient(90deg, rgba(0,0,0,0.4), rgba(0,0,0,0) 40%);
}

nav>a:hover {
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

@media screen and (max-width: 600px) {
    body>aside {
        width: 100%;
    }
}



/* ----- Main ----- */

body>main {
    box-sizing: border-box;
    margin-top: 2rem;
    flex: 1;
    padding: 0 1rem;
    max-width: 50rem;
}

/* ----- Headers and footers ----- */

header.banner {
    width: 100%;
    box-sizing: border-box;
    padding: 5rem 2rem;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    margin-bottom: 3rem;
}

header.banner>h1{
    font-size: 5rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

header.banner.sky {
    background-image: url(media/sky.jpg);
}

header.banner.purple {
    background-size: 100% 100%;
    background-image: radial-gradient(49% 81% at 45% 47%, #EE931045 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #6925C7FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #3EA3D3FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #0F6EE8FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF8B53FF 0%, #FF0000FF 100%);
}

header.banner.blue {
    background-size: 100% 100%;
    background-image: radial-gradient(49% 81% at 45% 47%, #36EE1045 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #0C67CFFF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #25A1E8FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #084DFEFF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #43EF7CFF 0%, #FF0000FF 100%);
}

header.banner.grey {
    background-size: 100% 100%;
    background-image: radial-gradient(49% 81% at 45% 47%, #445C9145 0%, #FFFFFF00 100%),radial-gradient(113% 91% at 17% -2%, #3D446CFF 1%, #FFFFFF00 99%),radial-gradient(142% 91% at 83% 7%, #706990FF 1%, #FFFFFF00 99%),radial-gradient(142% 91% at -6% 74%, #606E79FF 1%, #FFFFFF00 99%),radial-gradient(142% 91% at 111% 84%, #7B8BA8FF 1%, #FFFFFFFF 100%);
}

footer {
    margin: 4rem 0;
    width: 100%;
    box-sizing: border-box;
    padding: 4rem 2rem;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0px -2px 5px rgba(0,0,0,0.5);
}



/* ----- Text ----- */

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 1rem 0;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

p {
    line-height: 1.25;
}

a {
    color: rgb(185, 195, 250);
    text-decoration: underline;
}

hr {
    margin: 2.5rem 0;
    color: rgba(255,255,255,0.5);
}



/* ----- Positioning ----- */


.centered {
    margin-left: auto;
    margin-right: auto;
}

/* ----- Quick styling ----- */

.underline { text-decoration: underline; }

.bold { font-weight: bold; }

.italic { font-style: italic; }

.justify-right { text-align: right; }

.undecorated { text-decoration: inherit; }
